venv
__pycache__
.pytest_cache
src/client/sessions/[^.]*

src/client/keys/subject_keys/*
!src/client/keys/subject_keys/.gitkeep

src/client/data/decrypted_files/*
!src/client/data/decrypted_files/.gitkeep
src/client/data/encrypted_files/*
!src/client/data/encrypted_files/.gitkeep
src/client/data/files/*
!src/client/data/files/.gitkeep
src/client/data/metadatas/*
!src/client/data/metadatas/.gitkeep

src/server/dao/database/repo.db
src/server/data/[^.]*
project.log